<div class="review" key="review">
	<div class="ui one column centered grid">
		<div class="row">
			<div class="four wide widescreen four wide large screen six wide computer fifteen wide tablet sixteen wide mobile column">
				<GrabberCard @width="100%" @text="{{this.grabber_text}}" @answer="{{this.poem.second_verse_answer}}" @card="{{this.poem.second_verse_card}}" @type="review" @large=true @validate={{this.validate}} key="review-grabber" @key="review-grabber"/>
			</div>
		</div>
		<div class="row">
			<div class="four wide widescreen four wide large screen six wide computer fifteen wide tablet sixteen wide mobile column">
				<div class="ui huge fluid input">
					<input type="text" placeholder="{{if (eq this.type 'grabber') 'Second verse key characters' 'Kimariji'}}" onKeyUp={{action "handleInput"}} onChange={{action "handleInput"}}>
				</div>
			</div>
		</div>
	</div>
</div>