<div class="ui stackable middle aligned grid features">
	<div class="row">
		<div class="eight wide center aligned column">
			<h1>Memorize the Ogura Hyakunin Isshu</h1>
			<p>Easily learn the key items for every poem</p>
			<p>Our memorization system focuses on the key characters for the first and second verses</p>
		</div>
		<div class="eight wide column poems">
			<PoemGrid @poems={{@model.poems}}/>
		</div>
	</div>
	<div class="row">
		<div class="eight wide column">
			<GrabberCard @width="49%" @text="{{@model.grabber_one.second_verse_card}}" @answer="{{@model.grabber_one.second_verse_answer}}" @type="demo" @size="demo"/>
			<GrabberCard @width="49%" @text="{{@model.grabber_two.second_verse_card}}" @answer="{{@model.grabber_two.second_verse_answer}}" @type="demo" @size="demo"/>
		</div>
		<div class="eight wide center aligned column">
			<h1>Interactive playing cards</h1>
			<p>Visualize what the cards will look like during a game</p>
			<p>Cards reflect what you type during memorization reviews and mark correct/incorrect characters</p>
		</div>
	</div>
	<div class="row">
		<div class="eight wide center aligned column">
			<h1>High quality readings</h1>
			<p>Study each and every sound with recordings of a Class A reader</p>
		</div>
		<div class="eight wide column">
			<AudioPlayer @url="/assets/audio/poem-readings/poem-{{@model.audio_poem}}.mp3"/>
		</div>
	</div>
	<div class="row">
		<div class="eight wide column">
			<table class="ui unstackable center aligned celled table">
				<thead>
					<tr>
						<th colspan="7">
							<i class="calendar alternate outline icon"></i>
							Reviews
						</th>
					</tr>
					<tr>
						<th>S</th>
						<th>M</th>
						<th>T</th>
						<th>W</th>
						<th>T</th>
						<th>F</th>
						<th>S</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td>か </td>
						<td>か</td>
						<td></td>
						<td>か</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>か</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>　</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>か</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="eight wide center aligned column">
			<h1>Spaced repetition system</h1>
			<p>Memorization tasks are spaced out over time based on your performance to best reinforce each poem</p>
		</div>
	</div>
</div>