{{#if this.top}}
	<a class="mobile icon item" role="button" {{action this.openSidebar on="click"}}>
		<i class="bars icon"></i>
	</a>
{{/if}}

{{#if this.session.isAuthenticated}}
	<LinkTo @route="authenticated.dashboard" class="item">
		Dashboard
	</LinkTo>

	<LinkTo @route="authenticated.lessons" class="item">
		<div class="ui label">{{this.lesson_queue_length}}</div>
		Lessons
	</LinkTo>

	<LinkTo @route="authenticated.reviews" class="item">
		<div class="ui label">{{this.review_queue_length}}</div>
		Reviews
	</LinkTo>

	{{#if this.top}}
		<div class="ui dropdown item">
			Practice
			<i class="dropdown icon"></i>
			<div class="menu">
				<LinkTo @route="authenticated.practice.quiz" class="item">
					Quiz
				</LinkTo>
			</div>
		</div>
	{{else}}
		<div class="item">
			Practice
			<div class="menu">
				<LinkTo @route="authenticated.practice.quiz" class="item">
					Quiz
				</LinkTo>
			</div>
		</div>
	{{/if}}

	<LinkTo @route="authenticated.poems" class="item">
		Poems
	</LinkTo>
{{else}}
	<LinkTo @route="auth" @model="login" class="item">
		Login
	</LinkTo>

	<div class="register item">
		<LinkTo @route="auth" @model="register" class="ui green button">
			Sign Up
		</LinkTo>
	</div>
{{/if}}