<div class="lesson-indicator">
	Lesson {{sum this.current_lesson 1}}/{{this.queue.length}}
</div>
<div class="ui ordered mini steps" {{ref this "steps"}} {{did-insert this.didInsert}}>
	{{#each this.queue as |poem index|}}
		<div class="link step {{if (eq this.current_lesson index) "active" ""}} {{if poem.completed "completed"}}" role="button" {{on "click" (fn this.changeLesson index)}} data-poem={{index}} key="selector-poem-{{index}}">
			<div class="content">
				<div class="title">{{poem.kimariji}}</div>
			</div>
		</div>
	{{/each}}
	{{#if (eq this.demo false)}}
		{{#if (eq this.queue.length this.completed.length)}}
			<button class="ui green button step review" {{on "click" this.saveAndTransition}}>Go To Review</button>
		{{/if}}
	{{/if}}
</div>
{{#if (eq this.demo false)}}
	{{#if (eq this.queue.length this.completed.length)}}
		<button class="ui green button mobile review" {{on "click" this.saveAndTransition}}>Go To Review</button>
	{{/if}}
{{/if}}