<div class="{{this.classes}} column">
	<h1>{{this.poem.name}}</h1>

	<AudioPlayer @url="/assets/audio/poem-readings/poem-{{this.poem.id}}.mp3"/>

	<div class="ui segment">
		<div class="ui gray ribbon label">First Verse</div>
		<p>{{{this.first_verse}}}</p>

		<div class="ui red ribbon label">Kimariji</div>
		<p>{{{this.poem.kimariji}}}</p>

		<div class="ui blue ribbon label">2nd Verse Key Characters</div>
		<p>{{{this.poem.second_verse_answer}}}</p>

		{{#if this.archaic_warnings.length}}
			<div class="ui orange ribbon label">Archaic Characters</div>
			{{#each this.archaic_warnings as |warning|}}
				<p>{{warning}}</p>
			{{/each}}
		{{/if}}

		<div class="ui gray ribbon label">Translation</div>
		<p>{{{this.translation}}}</p>

		{{#if this.background.length}}
			<div class="ui gray ribbon label">Background</div>

			<div>
				{{{get this.background 0}}}

				{{#if (gt this.background.length 1)}}
					<details>
						<summary>Read more...</summary>
						{{#each this.background as |paragraph index|}}
							{{#if (gt index 0)}}
								<p>{{{paragraph}}}</p>
							{{/if}}
						{{/each}}
					</details>
				{{/if}}
				<p class="credit">Background information provided courtesy of <a href="http://www.jlit.net/premodernlit/hyakunin-isshu/" target="_blank">Jlit.net</a>.</p>
			</div>
		{{/if}}
	</div>
</div>
<div class="{{this.classes}} column">
	<GrabberCard @width="100%" @text="{{this.poem.second_verse_card}}" @answer="{{this.poem.second_verse_answer}}" @type="learn" @size={{this.grabber_size}}/>
</div>