<div class="ui left aligned segment">
	<h4 class="ui dividing header">
		{{#if (eq this.type "register")}}
			Register for
		{{else}}
			Login to
		{{/if}}
		{{this.title}}
	</h4>
	{{#if this.login_error}}
		<div class="ajax-response" data-for="login-form">
			<div class="ui error message">
				<i class="remove icon"></i>
				{{this.login_message}}
			</div>
		</div>
	{{/if}}
	<form class="ui form" id="login-form" onsubmit={{action "handleSubmit"}}>
		<div class="field">
			<div class="ui icon input">
				{{input value=this.email placeholder="Email" name="email"}} <i class="user icon"></i>
			</div>
		</div>
		<div class="field">
			<div class="ui icon input">
				{{input value=this.password type="password" placeholder="Password" name="password"}} <i class="lock icon"></i>
			</div>
		</div>
		{{#if (eq this.type "register")}}
			<div class="field">
				<div class="ui icon input">
					{{input value=this.confirm_password type="password" placeholder="Confirm Password" name="confirm_password"}} <i class="lock icon"></i>
				</div>
			</div>
		{{/if}}
		<div class="ui buttons">
			{{#if (eq this.type "register")}}
				<input type="submit" name="register" class="ui green button" value="Register">
			{{else}}
				<input type="submit" name="login" class="ui blue button" value="Login">
			{{/if}}
		</div>
	</form>
</div>