<div class="ui grid" {{did-insert this.didInsert}}>
	<div class="sixteen wide column">
		{{#if this.loading}}
			<div class="ui inverted dimmer active">
				<div class="ui loader"></div>
			</div>
		{{/if}}

		<h4 class="ui horizontal divider header">
			<i class="bar chart icon"></i>
			Your Statistics
		</h4>

		{{#if (eq this.type 'review')}}
			<div class="ui five statistics">
				<div class="statistic">
					<div class="value">{{this.total_reviews}}</div>
					<div class="label">Total Reviews</div>
				</div>
				<div class="statistic">
					<div class="value">{{this.kimariji_correct_rate}}</div>
					<div class="label">Kimariji Correct</div>
				</div>
				<div class="statistic">
					<div class="value">{{this.second_verse_correct_rate}}</div>
					<div class="label">2nd Verse Correct</div>
				</div>
				<div class="statistic">
					<div class="value">293 ms</div>
					<div class="label">Avg. Correct Response Time</div>
				</div>
				<div class="statistic">
					<div class="value">182 ms</div>
					<div class="label">Avg. Response Time</div>
				</div>
			</div>

			<h4 class="ui horizontal divider header">
				Performance Rate By Kimariji Length
			</h4>

			<div class="ui six statistics">
				{{#each this.kimariji_performance as |data|}}
					<div class="statistic">
						<div class="value">{{data.value}}</div>
						<div class="label">{{data.label}}</div>
					</div>
				{{/each}}
			</div>

			<h4 class="ui horizontal divider header">
				Performance Rate By 2nd Verse Length
			</h4>

			<div class="ui seven statistics">
				{{#each this.second_verse_performance as |data|}}
					<div class="statistic">
						<div class="value">{{data.value}}</div>
						<div class="label">{{data.label}}</div>
					</div>
				{{/each}}
			</div>
		{{else}}
			<div class="ui three statistics">
				<div class="statistic">
					<div class="value">{{this.next_review}}</div>
					<div class="label">Next Review</div>
				</div>
				<div class="statistic">
					<div class="value">{{this.poems_learned}}</div>
					<div class="label">Poems Learned</div>
				</div>
				<div class="statistic">
					<div class="value">{{this.poems_mastered}}</div>
					<div class="label">Poems Mastered</div>
				</div>
			</div>

			<h4 class="ui horizontal divider header">
				Poems Learned By Level
			</h4>

			<div class="ui nine statistics">
				{{#each this.poems_by_level as |data|}}
					<div class="statistic">
						<div class="value">{{data.value}}</div>
						<div class="label">{{data.label}}</div>
					</div>
				{{/each}}
			</div>

			<h4 class="ui horizontal divider header">
				Best & Worst Poems
			</h4>

			<div class="ui stackable centered grid">
				<div class="eight wide column">
					<table class="ui unstackable table">
						<thead>
							<tr>
								<th colspan="4">Best Poems</th>
							</tr>
							<tr>
								<th>#</th>
								<th>Kimariji</th>
								<th>2nd Verse Key</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{{#each this.best_poems as |poem|}}
								<tr>
									<td><LinkTo @route="authenticated.poems.show" @model={{poem.poem_id}} class="header">Poem {{poem.poem_id}}</LinkTo></td>
									<td>{{poem.kimariji}}</td>
									<td>{{poem.second_verse_answer}}</td>
									<td>{{poem.success_percent}}</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				<div class="eight wide column">
					<table class="ui unstackable table">
						<thead>
							<tr>
								<th colspan="4">Worst Poems</th>
							</tr>
							<tr>
								<th>#</th>
								<th>Kimariji</th>
								<th>2nd Verse Key</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{{#each this.worst_poems as |poem|}}
								<tr>
									<td><LinkTo @route="authenticated.poems.show" @model={{poem.poem_id}} class="header">Poem {{poem.poem_id}}</LinkTo></td>
									<td>{{poem.kimariji}}</td>
									<td>{{poem.second_verse_answer}}</td>
									<td>{{poem.success_percent}}</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		{{/if}}
	</div>
</div>