<div class="quiz-filters ui segment">
	<div class="quiz-filter-types">
		<div class="ui multiple selection dropdown">
			<Input @type="hidden" @value={{this.kimariji_length}} />
			<span class="default text">Kimariji Length</span>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="header">Kimariji Length</div>
				<div class="item">1</div>
				<div class="item">2</div>
				<div class="item">3</div>
				<div class="item">4</div>
				<div class="item">5</div>
				<div class="item">6</div>
			</div>
		</div>
		<div class="ui selection dropdown">
			<Input @type="hidden" @value={{this.card_count}} />
			<span class="default text"># Cards to Display</span>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="header"># Cards to Display</div>
				<div class="item">4</div>
				<div class="item">8</div>
				<div class="item">12</div>
				<div class="item">16</div>
			</div>
		</div>
		<div class="ui selection dropdown">
			<Input @type="hidden" @value={{this.card_inversion}} />
			<span class="default text">Card Inversion</span>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="header">Card Inversion</div>
				<div class="item" data-value="0">None</div>
				<div class="item" data-value="1">Inverted</div>
				<div class="item" data-value="2">Mixed</div>
			</div>
		</div>
		<div class="ui clearable selection dropdown compact">
			<Input @type="hidden" @value={{this.learned}} />
			<span class="default text">Learned</span>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="header">Learned</div>
				<div class="item" data-value="-1">All</div>
				<div class="item" data-value="1">Yes</div>
				<div class="item" data-value="0">No</div>
			</div>
		</div>
		<div class="ui input">
			<Input name="quiz_length" @type="text" @placeholder="Quiz Length (1-100)" @value={{this.quiz_length}}/>
		</div>
		<button class="ui blue button" onclick={{action "start"}}>Start</button>
	</div>
</div>